<div id="container">
  <mat-toolbar color="primary">
    <span>
      <mat-icon class="toolbar-icon" svgIcon="lexus"></mat-icon>
    </span>
    <span>Lexus of Woodland Hills</span>
    <span flex></span>
  </mat-toolbar>

  <div class="filter-container">
    <mat-form-field class="filter-search">
      <mat-placeholder>
        <mat-icon>search</mat-icon>Search</mat-placeholder>
      <input matInput class="search-input" type="text" [(ngModel)]="term">
    </mat-form-field>
    <mat-button-toggle-group class="filter-buttons" name="fontStyle" aria-label="Font Style" value="0" #group="matButtonToggleGroup">
      <mat-button-toggle (click)="toggleUserList(0)" value="0">All</mat-button-toggle>
      <mat-button-toggle (click)="toggleUserList(1)" value="1">Here</mat-button-toggle>
      <mat-button-toggle (click)="toggleUserList(2)" value="2">Away</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="content">
    <mat-list>
      <mat-list-item class="employee-row" *ngFor="let user of displayedUsers| userFilter:term">
        <img matListAvatar src="{{user.avatar}}" alt="user.lastName">
        <h3 matLine class="employee-name"> {{user.firstName}} {{user.lastName}} </h3>
        <span matLine class="employee-title" *ngIf="user.title">
          {{user.title}}
        </span>
        <div class="contact-buttons">
          <a *ngIf="user.callNumber" href="tel://{{user.callNumber}}" aria-label="call" aria-hidden="false">
            <mat-icon>phone</mat-icon>
          </a>
          <a *ngIf="user.callNumber" href="sms://{{user.callNumber}}" aria-label="call" aria-hidden="false">
            <mat-icon>chat</mat-icon>
          </a>
          <a *ngIf="user.email" href="mailto://{{user.email}}" aria-label="call" aria-hidden="false">
            <mat-icon>email</mat-icon>
          </a>
        </div>
        <div matLine></div>
        <div matLine></div>
        <mat-list-item matLine class="location-info" *ngIf="user.location != null">
          <mat-icon matListAvatar [style.color]="user.location.locationColor ? user.location.locationColor : ''">location_on</mat-icon>
          <div matLine class="location-name">{{user.location.locationName}}</div>
          <div matLine class="sampled-time">{{showTimeAgo(user.location.created)}}</div>
        </mat-list-item>
      </mat-list-item>
    </mat-list>
  </div>
</div>
